* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* background: linear-gradient() url("assets/bg.jpg") center/cover no-repeat; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

/* title */
.title {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  color: #dc4718;
  font-size: 64px;
  text-align: center;
  padding: 1rem 0rem;
}
/* top button  */
.top-btn {
  text-align: center;
}
.btn {
  height: 23px;
  width: 119px;
  color: #ffce34;
  background-color: #572101;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn:nth-child(1) {
  margin-right: 2rem;
}
/* main  */
.player-container {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.players {
  flex: 0 1 49%;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  padding: 1rem;
  text-align: center;
}
.player-name {
  color: #dc4718;
  font-size: 24px;
}
.score {
  font-size: 32px;
  color: #ffce34;
  margin: 1rem 0rem;
}
.current-score-cont {
  background-color: rgba(184, 106, 50, 0.2);
  color: #ffce34;
  padding: 1rem 0rem;
}
.current-label {
  font-size: 15px;
  margin-bottom: 0.5rem;
}
/* dice  */
.dice-cont {
  width: 100%;
  height: 74px;
  display: inline-block;
  text-align: center;
  margin: 0.5rem 0rem;
}
.dice {
  height: 74px;
  width: 74px;
}
/* action buttons */
.action-btn {
  height: 30px;
  width: 131px;
  font-size: 20px;
  color: #391906;
  border: none;
  background-color: rgba(255, 208, 52, 0.53);
  border-radius: 2px;
  display: block;
  margin: 1rem auto;
  cursor: pointer;
}

/* instruction */
.instructionel {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.822);
  filter: blur(10px);
}
.absolute {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.heading {
  color: white;
  text-align: center;
  padding: 4rem 0rem 2rem;
  font-size: 48px;
}
.instruction-content ul {
  padding: 2rem;
  color: white;
}
.instruction-content ul li {
  margin: 0.4rem 0rem;
}
/* set name  */
.set-name-content {
  color: white;
}
.form-cont {
  display: flex;
  justify-content: space-around;
  padding: 4rem 1rem;
}
.form-player {
  flex: 0 1 50%;
  text-align: center;
}
.form-player input {
  outline: none;
  width: 95%;
  height: 30px;
  margin-top: 1rem;
  padding-left: 0.5rem;
}
/* hidden */
.hidden {
  display: none;
}
.active-player {
  background-color: rgba(255, 255, 255, 0.2);
}

/* winner  */
.win-heading {
  color: #dc4718;
  letter-spacing: 2px;
}
.win-msg {
  font-size: 42px;
  color: #ffce34;
  margin: 2rem 0rem;
}
/* media quary */
@media only screen and (min-width: 800px) {
  /* relocates the dice  */
  .top-btn {
    margin: 0 0 2rem 0;
  }
  .dice-cont {
    position: absolute;
    top: 276px;
  }
  .dice {
    height: 84px;
    width: 84px;
  }
  .player-container {
    justify-content: space-around;
    width: 700px;
    margin: 0 auto;
  }
  .players {
    flex: 0 1 330px;
  }
  .players h2 {
    font-size: 4rem;
    color: #dc4718;
    font-weight: 300;
  }
  .score {
    font-size: 4rem;
    margin: 2rem 0rem;
  }
  .current-score-cont {
    width: 200px;
    margin: 0px auto;
  }
  .current-label {
    font-size: 1.5rem;
  }
  .current-score {
    font-size: 1.5rem;
    margin: 1rem 0rem;
  }
  .action-btn-group {
    position: absolute;
    top: 421px;
    right: 50%;
    transform: translateX(50%);
  }
  .action-btn {
    width: 111px;
  }
}
